<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva tarea</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="" id="" placeholder="Nombre de la tarea"><br>
        <textarea name="" id="" cols="50" rows="25" placeholder="Escribe aquí en que consiste la tarea"></textarea><br>
        <input type="submit" name="" id="" value="Descarga PDF">
        <input type="hidden" name="" id="" value="Registrar">
    </form>
</body>
</html>