[[extend "custom-layout.html"]]
<style>
  .auth-container {
    max-width: 80%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
  }
</style>
<div class="auth-container">
  <!-- Por defecto generaria un formulario-->
  [[=form]]
  <!--<form action="" method="post">
    <input type="email" name="" id="email">
    <input type="password" name="" id="pass">
    <input type="password" name="" id="repass">
    <input type="date" name="" id="nacimiento">
    <input type="tel" name="" id="telefono">
    <input type="submit" id="btn_regist" value="Registrarse">
  </form>-->
</div>
