[[extend "custom-layout.html"]]
<style>
  .auth-container {
    max-width: 80%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
  }
</style>
<div class="auth-container">
  <form action="" method="post">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="passw" id="passw" placeholder="Contrseña">
    <input type="submit" name="iniciar_sesion" id="btn_regist" value="Iniciar Sesión">
    <input type="submit" name="cambiar_passw" id="btn_cambiar_passw" value="Cambiar contraseña">
  </form>
</div>